/* TABLE OF CONTENTS

if the CSS file gets unwieldly we can try and navigate it from here

*/


.master-container {
  display: grid;
  grid-template:
    "header header" 1fr
    "intro intro" 1fr
    "articles aside" 3fr
    "footer footer" 1fr/ 1fr 1fr;
}
header {
  grid-area: header;
}

h1{
  font-size:60px;
  text-shadow: 2px 2px 3px silver;
  font-family: 'Suez One', serif;
  letter-spacing: 8px;
  color: #ed786a
}

h4{
  font-size:15px;
  letter-spacing: 1.5px;
  font-family: 'Noto Sans HK', sans-serif;
  color: gray;
}

h3{
  font-family: 'Noto Sans HK', sans-serif;
  color: gray;
}

.intro {
  grid-area: intro;
  display: flex;
}
main {
  grid-area: articles;
}

aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  background-color: #f0f0f0;
}
