/* TABLE OF CONTENTS

if the CSS file gets unwieldly we can try and navigate it from here

*/
*{
  letter-spacing: .2rem;
  font-family: "Noto Sans HK", sans-serif;
}

.master-container {
  display: grid;
  grid-template:
    "white header header space" 0.25fr
    "white intro intro space" auto
    "quote quote quote quote" auto
    "blank articles aside stuff" 3fr
    "footer footer footer footer" 1fr/ 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.blog-post{
  grid-area: 4/2/4/4
}
.blog-post img{
  max-width: 100%;
}

.blog-aritcles{
  grid-area: aside;
}

.blog-aside{
  grid-area: articles;
}
header {
  grid-area: header;
  text-align: center;
}
.title {
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 60px;
  text-shadow: 2px 4px #e5e5e5;
  font-family: "Suez One", serif;
  color: #ed786a;
}
.subtitle {
  margin-bottom: 100px;
}

h4 {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-family: "Noto Sans HK", sans-serif;
  color: gray;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
  color: gray;
  font-weight: normal;
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template:
    "title" 1fr
    "images" 3fr
    "link" 1.5fr;
  justify-items: center;
}
.images {
  max-width: 900px;
  grid-area: images;
  display: flex;
}
img {
  border: 5px solid #ebebeb;
}
figure {
  margin: 15px;
  text-align: center;
}
.intro h3 {
  grid-area: title;
  align-self: end;
}

.intro a {
  grid-area: link;
  align-self: center;
}
.intro img {
  width: 100%;
}

figcaption{
  padding-top: 50px;
}

.quote {
  grid-area: quote;
  background: linear-gradient(to left,  #5c5c64,#7b7d7b, #5c5c64);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 98.9vw;
  margin-left: -.5vw;
  overflow: visible;
  outline: 1px solid #e5e5e5;
  outline-offset: 5px;
  color: white;
}

main {
  grid-area: articles;
}

aside {
  grid-area: aside;
  max-width: 300px;
}
article{
  margin-bottom: 100px;
}
.blog-notes img {
  float: left;
  margin-right: 15px;
}
.blog-notes{
  margin-bottom: 50px;
}

a{
  color: inherit;
  text-decoration: none;
  font-family: "Noto Sans HK", sans-serif;
}

.button{
  text-decoration: none;
  background-color: #ed786a;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px #e5e5e5;
  padding: 10px;
}
.button:hover{
  background-color: #ec8e7c;
}

.posts a:hover{
  color: #ed786a;
}

.date{
  text-decoration: none;
  background-color: #878787;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px #e5e5e5;
  padding: 5px 10px;
  width: 70px;
  margin-bottom: 30px;
  letter-spacing: .2rem;
}

hr{
 color: #e5e5e559;
}

p{
  line-height: 2;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 11px;
  color: #777777;
  margin-bottom: 50px;
  letter-spacing: normal;
}

strong{
  color: #666666
}
footer {
  grid-area: footer;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 7/1/7/1;
  grid-template-rows: auto auto;
}
