/* TABLE OF CONTENTS

if the CSS file gets unwieldly we can try and navigate it from here

*/

.master-container {
  display: grid;
  grid-template:
    "white header header space" 0.25fr
    "white intro intro space" auto
    "quote quote quote quote" auto
    "blank articles aside stuff" 3fr
    "footer footer footer footer" 1fr/ 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
header {
  grid-area: header;
  color: #ed786a;
  text-align: center;
}
.title {
  margin-bottom: 5px;
}
.subtitle {
  margin-bottom: 100px;
}

h1 {
  font-size: 60px;
  text-shadow: 2px 2px 3px silver;
  font-family: "Suez One", serif;
  letter-spacing: 8px;
  color: #ed786a;
}

h4 {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-family: "Noto Sans HK", sans-serif;
  color: gray;
}

h3 {
  font-family: "Noto Sans HK", sans-serif;
  color: gray;
  font-weight: normal;
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template:
    "title" 1fr
    "images" 2fr
    "link" 1.5fr;
  justify-items: center;
}
.images {
  max-width: 900px;
  grid-area: images;
  display: flex;
}
img {
  border: 5px solid #ebebeb;
}
figure {
  margin: 15px;
  text-align: center;
}
.intro h3 {
  grid-area: title;
  align-self: end;
}

.intro a {
  grid-area: link;
  align-self: center;
}
.intro img {
  width: 100%;
}

.quote {
  grid-area: quote;
  background-color: #5f5e64;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100vw;
  margin-left: -10px;
  overflow: visible;
  outline: 1px solid #e5e5e5;
  outline-offset: 5px;
}

main {
  grid-area: articles;
}

aside {
  grid-area: aside;
  max-width: 300px;
}
.blog-notes img {
  float: left;
  margin-right: 15px;
}

footer {
  grid-area: footer;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 7/1/7/1;
  grid-template-rows: auto auto;
}
